@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
:root {
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 2.25rem; /* 36px */
  --primary: #21bf48;
  --warning: #eb5757;
  --disabled: rgba(239, 239, 239, 0.3);
  --gray: #767676;
  --gray-light: #c4c4c4;
  --gray-lighter: #f2f2f2;
  --gray-dark: #333;
  --shadow-header: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
}
main {
  margin: 0 auto;
}
.text-gray-dark {
  color: var(--gray-dark);
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* btn-base, ms */
.btn {
  border-radius: 5px;
  border: 1px solid var(--gray-light);
}
.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 17px;
}
.btn-sm {
  padding: 10px 25px;
}
.btn-md {
  font-size: var(--font-lg);
  font-weight: bold;
  padding: 19px;
}
.btn-lg {
  font-size: var(--font-xl);
  font-weight: bold;
  min-width: 220px;
  padding: 19px;
}
.btn-tab {
}
.btn-del {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px;
}

input:focus {
  outline: none;
}
.input-underline {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-light);
  &::placeholder {
    color: var(--gray);
  }
}
.msg-error {
  color: var(--warning);
}
.msg-disabled {
  color: var(--gray);
}
.dialog {
  position: relative;
}
