@import url("./main.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    font-size: var(--font-2xl);
    font-weight: bold;
    text-align: center;
  }
}

main,
.cont {
  width: 1360px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

main {
  padding-bottom: 100px;
  margin-bottom: 80px;
}

header.sticky {
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: var(--shadow-header);
  padding: 20px 0;
  .cont {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 38px;
  }
  .btn-header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: var(--font-xs);
    color: var(--gray);
    &.active {
      color: var(--primary);
    }
  }
  #search {
    display: flex;
    position: relative;
    align-items: center;
    width: 400px;
    padding: 11px 68px 11px 20px;
    border: 2px solid var(--primary);
    border-radius: 100px;
    &::placeholder {
      color: var(--gray);
    }
  }
}

.auth-header {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  margin: 30px 0 0;
  .logo {
    height: 74px;
  }
}

.buyer-header {
}

.auth-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container {
  width: 550px;
  max-width: 100%;
}

.buyer-main {
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 78px 70px;
  margin-top: 80px;
  li {
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--gray-light);
    }
    .wrap-text {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      gap: 10px;
      .subt {
        color: var(--gray);
      }
      .title {
        font-size: var(--font-lg);
      }
      .price {
        display: flex;
        gap: 2px;
        align-items: baseline;
        p {
          font-size: var(--font-xl);
          font-weight: bold;
        }
      }
    }
  }
}

.tab {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: -18px;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -1px;
    width: 18px;
    height: 18px;
    background: #fff;
    z-index: 1;
  }
  .tab-btn {
    flex: 1 0 auto;
    font-weight: medium;
    font-size: var(--font-lg);
    border-radius: 10px 10px 0 0;
    padding: 20px 20px 38px 20px;
    border: 1px solid var(--gray-light);
    background-color: var(--gray-lighter);
    border-bottom: 0;
    &.active {
      background-color: #fff;
      z-index: 1;
    }
  }
  + .tab-container {
    position: relative;
    padding: 36px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid var(--gray-light);
  }
}

.carousel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-lighter);
  height: 500px;
  .btn-arrow {
    position: absolute;
    width: 60px;
    height: 124px;
    background-image: url(../img/icon-next-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    &.prev {
      left: 30px;
      transform: rotate(180deg);
    }
    &.next {
      right: 30px;
    }
  }
  .wrap-dot {
    display: flex;
    position: absolute;
    bottom: 20px;
    gap: 6px;
  }
  .btn-dot {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    &.active {
      background-color: #000;
    }
  }
}

footer {
  background-color: var(--gray-lighter);
  padding: 60px 0 63px 0;
  margin-top: auto;
  .wrap-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 30px;
    .wrap-policy {
      display: flex;
      gap: 14px;
    }
    .wrap-sns {
      display: flex;
      gap: 14px;
    }
  }
  .text {
    line-height: 1.8;
  }
}

.cart-table {
  .thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: var(--gray-lighter);
    h3 {
      font-size: var(--font-lg);
    }
  }
  .tfooter {
    display: flex;
    border-radius: 10px;
    background-color: var(--gray-lighter);
    margin-top: 80px;
    .wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 25%;
      padding: 46px 20px 42px 20px;
      .price {
        display: inline-flex;
        align-items: baseline;
        margin-top: 10px;
        gap: 2px;
        p {
          font-size: var(--font-xl);
          font-weight: bold;
        }
      }
      &.total {
        padding-bottom: 34px;
        h3 {
          font-weight: bold;
        }
        .price {
          color: var(--warning);
          margin-top: 2px;
          p {
            font-size: var(--font-2xl);
          }
        }
      }
      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 34px;
        height: 34px;
        background-color: #fff;
        border-radius: 100px;
        left: 0;
        transform: translateX(-50%);
      }
    }
  }
  .wrap-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border: 2px solid var(--primary);
      border-radius: 10px;
    }
    &:has(input:checked)::after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 100px;
      background-color: var(--primary);
    }
  }
  .tbody {
    .cart-empty {
      text-align: center;
      margin: 200px 0;
      h3 {
        font-size: var(--font-lg);
        font-weight: bold;
      }
      p {
        font-size: var(--font-sm);
        color: var(--gray);
        margin-top: 15px;
      }
    }
    .cart-list {
      li {
        display: flex;
        position: relative;
        align-items: center;
        border: 2px solid #e0e0e0;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        .thumb {
          width: 160px;
          border-radius: 10px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          margin-left: 30px;
        }
        .wrap-text {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-left: 36px;
          padding: 6px 0 16px 0;
          align-self: stretch;
          .subt,
          .info {
            font-size: var(--font-sm);
            color: var(--gray);
          }
          .title {
            font-size: var(--font-lg);
          }
          .price {
            font-weight: bold;
          }
          .info {
            margin-top: auto;
          }
        }
        .price-total {
          p {
            color: var(--warning);
            font-size: var(--font-lg);
            font-weight: bold;
            margin-bottom: 26px;
          }
          button {
            width: 130px;
          }
        }
      }
    }
  }
}

.counter {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-color: var(--gray-light);
    &:first-child {
      border-right-width: 1px;
    }
    &:last-child {
      border-left-width: 1px;
    }
  }
  .num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 50px;
    padding: 10px;
    text-align: center;
  }
}

/* #dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
} */

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 200px;
  border: 1px solid var(--gray-light);
  .wrap-btn {
    display: flex;
    gap: 10px;
    margin-top: auto;
    padding: 20px 0 40px;
    .btn {
      width: 100px;
    }
  }
  &:not([open]) {
    display: none;
  }
}
